<div class="table-data">
  <table border="1">
    <tr>
      <th>Nome</th>
    </tr>
    <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
    <tr>
      <td><%=data.nome %></td>
    </tr>
    <% i++; }) %> <% } else{ %>
    <tr>
      <td>Sem informação</td>
    </tr>
    <% } %>
  </table>
</div>

<h1>Full Cycle Rocks</h1>
